header {
    overflow: hidden; 
    text-align: center;
}

#player1Points {
    background: #222;
    color: #fff;
    /* float:left;  remove */
    margin: 10px 10px 0 0;
    padding: 5px 10px;
    text-align: left;
}
#player2Points {
    background: #222;
    color: #fff;
    /* float:left;  remove */
    margin: 10px 10px 0 0;
    padding: 5px 10px;
    text-align: right;
}

#spanPoints {
    background: #222;
    color: #fff;
    /* float:left;  remove */
    margin: 10px 10px 0 0;
    padding: 5px 10px;
    text-align: left;
}
#pointsMenu{
    overflow: hidden; 
    text-align: center;
}
#pointsPlayerMenu {
    overflow: hidden; 
    text-align: center;
}
#gameMenu {
    overflow: hidden; 
    text-align: center;
}

#canvasContainer {
    width: 100%;
    text-align:center;
 }
 
 #myCanvas {
    display: inline-block;
 }
 
label {
    
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}
#colorMenu {
    overflow: hidden; 
    text-align: center;
}

#startButton{
    overflow: hidden; 
    text-align: center;
    display: block;
    width: 100%;
    border: none;
    background-color: #797979;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}